body {
    background-color: #000; /* Fondo negro */
    color: #fff;
    font-family: Arial, sans-serif;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #00FF85; /* Verde */
    font-size: 36px;
}

p {
    color: black;
    margin-bottom: 20px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #00FF85;
    border-radius: 5px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit-btn, .react-btn {
    width: 48%; /* Ambos botones ocuparán el 48% del espacio */
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.submit-btn {
    background-color: #00FF85;
    color: white;
}

.react-btn {
    background-color: #0000FF; /* Botón azul */
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 15px;
}

.react-btn:hover {
    background-color: #000099;
}

button:hover {
    background-color: #00cc6b;
}

@media (max-width: 768px) {
    .form-container {
        width: 90%; /* Para que se ajuste mejor en pantallas pequeñas */
    }
}
